
label {
    margin-top: 10px;
    display: block;
}

h2 {
	margin-top: 16px;
}

.head {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.head > h1 {
	width: 50px;
	flex: 1 1;
	
}

.loadCommand {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.loadCommand > .item {
	margin-top: 16px;
	width: 250px;	
}
.loadCommand > .progress {
	font-weight: bold;
	margin-left: 16px;
	margin-top: 16px;
	flex: 1;
}

.loading {
	color: orange;
}

.complete {
	color: green;
}

.failed {
	color: red;
}

#logout {
	margin: 16px;
}