
label {
    margin-top: 10px;
    display: block;
}

h2 {
	margin-top: 48px;
}

.head {
	display: flex;
	align-items: center;
}

.head > h1 {
	flex: 1;
}

.loadCommand {
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.loadCommand > .item {
	width: 300px;	
}
.loadCommand > .progress {
	flex: 1;	
}



#logout {
	margin: 16px;
}